body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 75px 30px 75px;
}

.title_up {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.title_product {
    font-size: 20px;
    font-weight: bold;
}

.title_r_product {
    display: inline-block;
    padding: 3px 5px;
    background-color: orange;
    color: black;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.title_r_product:hover {
    background-color: #e67e22;
}

.product___flex {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-top: 20px;
}

.product___flex form {
    width: 25%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__flex input,
.product__flex button,
.product__flex select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.product___flex button {
    background-color: #FFCC00;
    color: rgb(6, 0, 0);
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product__flex button:hover {
    background-color: #FF9900;
}

/* 商品一覧部分 */
.product__r {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.product__content {
    width: 30%;
    margin-bottom: 20px;
}

.product__image {
    width: 100%;
    height: auto;
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.product__name {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.product__price {
    font-size: 14px;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 検索フォーム */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    padding: 10px;
}

.search-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.search-form input,
.search-form select,
.search-form button {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.search-form button {
    background-color: #ffc107;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
}

.search-form button:hover {
    background-color: #e0a800;
}